{% extends "PyBirdApp/base.html" %}
{% block title %}PyBird | Followeds of {{ id_user }}{% endblock %}
{% block nav %}{% endblock %} <!-- Remplace la nav par du vide -->
{% block content %}
<div class="row col-md-5">

    {% for u in this_user %}
        <h1>Followeds de #{{ u.username }}</h1><br>
    {% endfor %}
    <ul>
        {% for uFollowers in followers %}
                <li><a href="{% url 'profile' uFollowers.id_followed %}">{{ uFollowers.id_followed }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}